.question {
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.cadreQuestion {
    display: flex;
    margin-top: 20px ;
    background-color: white;
    height: 250px;
    width: 90%;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50px;
    
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px ;
}

.btn-rep{
    margin: 10px;
    width: 80%;
    height: 100px;
    border: 0px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(109,221,244,1) 0%, rgba(25,175,221,1) 48%, rgba(32,149,216,1) 100%);
    padding:30px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 50px;
}

.chrono {
    font-size: 30px;
    margin-top : 100px;
    text-align: center;
    color: rgb(186, 215, 231);

}

.result {
    margin-top: 200px;
    font-size: 30px;
}
