.question {
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
    
}

.cadreQuestion {
    display: flex;
    margin-top: 20px ;
    background-color: rgb(42, 43, 44);
    height: 250px;
    width: 90%;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50px;
    box-shadow: inset;
    box-shadow: 0 0 10px 10px rgb(42, 43, 44);
    
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px ;
}

.btn-rep{
    margin: 10px;
    width: 80%;
    height: 100px;
    border: 0px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(109,221,244,1) 0%, rgba(25,175,221,1) 48%, rgba(32,149,216,1) 100%);
    padding:30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 0 10px 3px rgb(132, 153, 175);
}

.btn-rep:hover {
    border: 2px solid white;
}

.chrono {
    font-size: 30px;
    margin-top : 100px;
    text-align: center;
    color: rgb(186, 215, 231);

}

.result {
    font-size: 30px;
}

.pageResult {
    display: flex;
    flex-direction: column;
}

.returnCategorie {
    text-decoration: none;
    color:black;
    text-align: center;
    font-size: 30px;
    width: 170px;
    height: 40px;
    margin: auto;
    margin-top: 40px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px white;
    padding: 10px;
    border: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(109,221,244,1) 0%, rgba(25,175,221,1) 48%, rgba(32,149,216,1) 100%);
}

.restart {
    margin: auto;
    text-align: center;
    width: 190px;
    height: 50px;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px white;
    border: 0;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(109,221,244,1) 0%, rgba(25,175,221,1) 48%, rgba(32,149,216,1) 100%);
}

.returnCategorie:hover, .restart:hover {
    border: 2px solid white;
}

.animation-result{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    margin-top: 150px;
}

.rep-result{
    margin-top: 0;
}

