.modalBouton {
    color: rgb(60, 63, 63);
    margin-top: 250px;
}

.compteModif {
    color: rgb(60, 63, 63);
    text-decoration: none;
    margin-top: 80px;
}

.titreProfil {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(71,143,217,1) 0%, rgba(16,190,244,1) 100%, rgba(32,149,216,1) 100%);
    width: 95%;
    height: 500px;
    align-items: center;
    margin: auto;
    border-radius: 50px;
}

.titreCompte { 
    color:rgb(32, 149, 216);
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 45px;
    text-shadow: 1px 1px 5px black;
    
}

a, Link {
    font-size: 25px;
    font-weight: bold;
}

.modal {
    display: flex;
    flex-direction: column;
    /* padding: 30px; */
    margin-bottom: 50px;
    
}

h2, h4, p {
   color: rgb(32, 149, 216);
}

h3 {
    text-align: center;
    color : white
}

h2 {
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 2px 2px rgb(13, 13, 14);
}

p {
    text-align: center;
}

.ReactModal__Content 
{
    background-color: rgb(60, 63, 63) !important;
    width: 90% !important;
    border-radius: 50px !important;
}

.retour {
    background-color:rgb(32, 149, 216);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    margin: auto;
}

.centre {
    display: flex;
    justify-content: center;
}

.score {
    border-bottom: solid 1px white ;
}



.ReactModal__Overlay {
    transform: translate(-100%, 0%);
    transition: all 0.5s ease-in-out;

}

.ReactModal__Overlay--after-open{
    transform: translate(0%, 0%);
}

.ReactModal__Overlay--before-close{
    transform: translate(-100%, 0%);
}