body {
    background-color: #3c3f3f;

}

.cultureQuizz {
    margin-top: 200px;
    width: 60%;
}

.boutonQuizz {
    font-size: 50px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    justify-content: center;
    margin-top: 100px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, #6dddf4 0%, rgba(25, 175, 221, 1) 48%, #2095d8 100%);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
}

.boutonQuizz:hover {
    border: 2px solid white;
}

.pageAcceuil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boutonCompte {
    position: fixed;
    top: 5px;
    right: 10px;
    color: rgb(22, 186, 241);
    font-size: 60px;
}

.boutonCompte:hover {
    font-size: 70px;
    color: rgb(125, 205, 252);
}

.inscription {
    text-decoration: none;
    color: rgb(32, 149, 216);
    margin-top: 80px;
    font-size: 30px;
}

.inscription:hover, .deconnexion:hover {
    font-size: 35px;
    color: rgb(125, 205, 252);
}

.deconnexion {
    text-decoration: none;
    color: rgb(32, 149, 216);
    margin-top: 80px;
    font-size: 30px;
}

@media screen and (min-width: 480px) {
    .boutonQuizz {
        font-size: 60px;
    }

    .titreQuizz {
        font-size: 60px;
    }

    .inscription {
        font-size: 30px;
    }

    .boutonCompte {
        font-size: 60px;
    }
}